<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <meta name="description" content="404">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Johnny">
    <!-- semantic-ui -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-- 自訂css -->
    <link rel="stylesheet" href="../../static/css/css.css" th:href="@{/css/css.css}">
</head>
<body>

<!-- 導航 -->
<nav th:replace="_fragments :: nav(page)"></nav>
<!-- 導航結束 -->

<br>
<br>
<br>
<br>
<br>

<!--中間內容-->
<div class="m-container m-padded-large">
    <div class="ui error message">
        <div class="ui container">
            <h2>404</h2>
            <p>訪問的資源不存在</p>
        </div>
    </div>
</div>
<!--中間內容結束-->

<br>
<br>
<br>
<br>
<br>

<!-- 頁尾 -->
<footer th:replace="_fragments :: footer"></footer>
<!-- 頁尾結束 -->


</body>
</html>